[2018-08-01 13:22] jvdlaar opened #3 "[Feature request] Throw error when callback doesn't return a promise"
[code]
Above example doesn't return Success. An error should be thrown in such situation because the callback doesn't return a promise.

What happens now is:
[code]
Because the server will not send the heartbeat response.

[2018-08-01 15:52] #3 closed

[2018-08-02 08:48] jvdlaar opened #5 "Persistent subscription doesn't handle events fast enough"
I have the situation where I have a persistent subscription which receives events. I have 5 events created in my stream so they arrive immediately (buffer size of 5) when I connect. The first event enters my code and gets dumped. The other events never arrive and are retried later.

When I change the buffer size to 1 then all works well.

This is my code:
[code]

[code]

This is the console output

[2018-08-04 16:02] prolic commented on #5
I cannot reproduce this. I used this test-case: https://github.com/prooph/event-store-client/blob/master/tests/happy_case_writing_and_subscribing_to_normal_events_auto_ack.php and enabled console logger as well as verbose logging. All events come in only once. See my output below.

[code]

[2018-08-05 21:31] codeliner opened #6 "Split EventStore*Connection interfaces"
Based on the questions in the chat: https://gitter.im/prooph/improoph?at=5b67641a6d45752f989370e8

I'm wondering if we can split the Connection interfaces and define smaller scopes like reading from streams, writing to streams and subscription api.

My idea is that if we have a subset of the methods defined in a smaller interface that is used by the AggregateRepository we could use composition for

[2018-08-06 15:31] prolic commented on #6
@codeliner from your code example, I can't know which interface is implemented on which connection implementation here.

About `PublishingConnection` - I don't think it's a good idea to have an event store connection being responsible to publish events on the message bus.

The setup looks strange, what if I change the order, f.e. inject UpcastingConnection into SnapshotConnection instead the other

[2018-08-06 16:49] codeliner commented on #6
@prolic it is always the same interface. The real connection gets decorated by connection implementations that implement the same interface, add their specific functionality and then call the parent method.

You can of course change the order. It's like a middleware pipe.

But ok, if you don't like it we need to find another way. The thing is moving upcasters and metadata enricher to the aggregate

[2018-08-06 16:56] prolic commented on #6
Micro has publisher as callback injected, metadata enricher is part of the
aggregate definition, upcasting is missing, snapshot store is in
buildCommandDispatcher. So except upcaster, micro is already done.

On Aug 7, 2018 00:49, "Alexander Miertsch" <notifications@github.com> wrote:

@prolic <https://github.com/prolic> it is always the same interface. The
real connection gets decorated by connect

[2018-08-06 17:01] codeliner commented on #6
micro was just an example. Good that most parts are covered but does not change the main issue that the aggregate repository is not responsible for a full blown plugin system. the event store is the central component and should provide the hooks. SnapshotStore is the only exception because it provides aggregate snapshots. Upcaster, MetadataEnricher, Publisher all deal with the events written to or

[2018-08-06 17:35] prolic commented on #6
So maybe wrap the event store with "something" that has plugins? Like the ActionEventEmitterEventStore wrapper from v7

[2018-08-06 18:02] codeliner commented on #6
yeah, that sounds good :+1:

[2018-08-14 14:02] jvdlaar commented on #5
I've been testing for a week with buffersize 1 so haven't seen the error anymore. I'll try this again on our staging server to see if the same problem happens there as well.

[2018-08-15 08:09] jvdlaar commented on #5
Issue doesn't happen anymore on my side either... can't explain what solved it tho.

[2018-08-15 08:09] #5 closed

[2018-08-15 08:16] prolic commented on #5
Good to know :)

[2018-08-16 22:18] #6 closed

[2018-08-20 17:34] prolic opened #10 "use Promise\rethrow where applicable"

[2018-08-21 14:03] prolic opened #11 "add PersistentSubscriptionSettings Builder"

[2018-09-01 08:09] #10 closed

[2018-09-01 09:11] #11 closed

[2018-10-17 18:53] prolic opened #17 "Random test failure"
[code]

[2018-10-17 19:30] prolic opened #18 "Random test failure #2"
[code]

[2018-10-21 08:52] #17 closed

[2018-10-21 08:52] #18 closed

[2018-11-08 15:37] enumag opened #26 "Real world example?"
I want to try and use this in my application. Basically I need (or rather *think* I need) some API similar to `AggregateRepository::getAggregateRoot()` / `AggregateRepository::saveAggregateRoot()` from old `prooph/event-sourcing`.

Before I start inventing a wheel, is there some example how to use this with real-world aggregates? I don't quite care if the aggregates are based on prooph/event-sourc

[2018-11-08 17:11] prolic commented on #26
I was planning to work on docs pretty soon. I need to check my workstation, maybe I have some (non-working, haha) blueprints somewhere. I will update you.

[2018-11-08 17:19] enumag commented on #26
I'm fine with non-working. :-D Thanks!

[2018-11-09 15:41] prolic commented on #26
Quick and dirty, no promises made, 4 classes!

Maybe it's working, maybe it's not, maybe it's a good implementation, maybe it's bad!

Just to get an idea!

1) `MessageTransformer`
[code]

2) `DomainEvent`
[code]

3) `AggregateRoot`
[code]

4) `AggregateRepository`
[code]

[2018-11-09 16:03] callistino commented on #26
@prolic What about the projection side? Do you use the built in GY ES projections as read models? is that performant enough compared to other data stores?

We currently still use prooph components and just replaced the `PostgresEventStore` with our own class that uses a GY ES client but that involved writing our own projectors, read model projectors and managers and we still have some lingering is

[2018-11-09 16:05] prolic commented on #26
For read models use (persistent) subscriptions. Volatile subscriptions work
great when want to store latest position in your readmodel yourself.

On Sat, Nov 10, 2018, 00:03 Reinier Pelayo <notifications@github.com wrote:

[2018-11-09 17:05] enumag commented on #26
Thank you @prolic! I should be able to adapt this to my EventMachine-inspired aggregates.

Some example for projections would be useful as well though I don't need it right away.

[2018-11-10 06:43] enumag commented on #26
One more thing. When and how should I dispatch my events to EventBus? In Prooph v7 this was done by [EventPublisher](https://github.com/prooph/event-store-bus-bridge/blob/master/src/EventPublisher.php#L55) which is an event store plugin. But I don't see any similar concept in the event-store-client.

[2018-11-10 07:39] prolic commented on #26
ServiceBus and EventPublisher will no longer be maintained (until bugfix support until end of next year), so you have to find your  own solution for this. Some ideas:
1) Have your own service-bus + event-publisher-plugin (or modify the one from prooph to your needs)
2) Do it in your aggregate repostiory (either by adding a publish events feature or by having a plugin system in place there)

[2018-11-10 07:47] enumag commented on #26
Yeah I know. My intention is to use service-bus for now and later try to migrate to something else (symfony/messenger possibly). Thanks for your ideas.

[2018-11-11 08:07] prolic opened #27 "Allow connection settings in connection string"

[2018-11-12 07:10] #27 closed

[2018-11-12 13:45] callistino commented on #26
@enumag Keeping the same existing tools was another reason why we wrote our `TransactionalEventstore` client that calls the GYES client itself. We still use the prooph service-bus + event-publisher-plugin and inject our EventStore on the `prooph_event_store` config. That part was relatively easy. The one we continue to struggle is the projection side where we still want to keep using postgress as

[2018-11-12 14:19] enumag commented on #26
You used the Prooph v7 event-store with GYES, right? Why are projections in postgres a problem? I mean the fact that it's GYES should not matter since it's behind an interface and postgres projections are not a problem with Prooph v7.

[2018-11-12 14:50] callistino commented on #26
@enumag Because the streams are not in postgres, so the projection classes needed to be updated to read from the GYES stream. The built in projection classes only read from the data store you have configured so they are very coupled.

[2018-11-12 14:52] prolic commented on #26
I'd recommend using persistent subscriptions for read models with the new
client.

Sascha-Oliver Prolic

Am Mo., 12. Nov. 2018 um 22:50 Uhr schrieb Reinier Pelayo <
notifications@github.com>:

[2018-11-13 10:01] enumag commented on #26
@prolic Okay, I successfully implemented a layer to save aggregates using event-store-client and load them. I think I can implement an equivalent to EventPublisher too without a problem so I can start refactoring my domain now.

Next I'd like to know how to implement projections. Prooph v7 had a special table in the event-store database to save the state of each projection. How is projection state

[2018-11-13 11:15] prolic commented on #26
See
https://eventstore.org/docs/dotnet-api/competing-consumers/index.html#creating-a-persistent-subscription

On Tue, Nov 13, 2018, 18:01 Jáchym Toušek <notifications@github.com wrote:

[2018-11-15 13:55] jvdlaar opened #32 "Output after the loop is closed"
Below is my code that creates several persistent subscriptions. When I have verbose logging enabled and use the console logger on my event store client connection then this gives me this error:
[code]

Which is caused by the `__destruct` function on the `EventStoreAsyncNodeConnection` class which closes the connection and then wants to output some debug output. Manually closing the connection insi

[2018-11-15 13:58] prolic commented on #32
Can you provide a failing test case and maybe also a patch?

On Nov 15, 2018 21:55, "Johnny van de Laar" <notifications@github.com>
wrote:

Below is my code that creates several persistent subscriptions. When I have
verbose logging enabled and use the console logger on my event store client
connection then this gives me this error:

Fatal error: Uncaught Amp\ByteStream\ClosedException: The stream

[2018-11-15 15:20] pkruithof opened #34 "Connecting to cluster does not work"
Steps to reproduce:

[code]

I have to add the following to `docker/unittest/docker-compose.yml`:

[code]

I have to adjust the example as it gives the following exception right now:

[code]

After changing it to this:

[code]

the output is this:

[code]

[2018-11-15 19:10] prolic commented on #34
Ok, so the problem is that it will always try to connect to external ip (not internal ip). In case of a docker container, your external ip is always 127.0.0.1. This will obviously then make no connection to the event store.

I'm working on the feature of allowing internal ips as well.

[2018-11-15 19:23] prolic commented on #34
A damn it, that's not possible, event-store itself has to support connecting to internal ip addresses from client, first.

Gossip port should be 2112, you're right. But without public ip (not 127.0.0.1 bullshit) you cannot run the event-store cluster in docker.

I'll recheck all demo scripts asap.

[2018-11-15 19:40] prolic commented on #34
@pkruithof You could try setting EVENTSTORE_EXT_IP in your docker-compose file, not sure if that works

[2018-11-15 21:48] enumag commented on #26
So how do I subscribe to all events? In your test case you expect an exception in that [case](https://github.com/prooph/event-store-client/blob/master/tests/create_persistent_subscription_on_all_stream.php). Or is there something else than `$all` that I should use?

[2018-11-16 06:37] prolic commented on #26
The `$all` stream contains a lot of metadata as well as information about projections, stats of the event store, ACL configs, etc. You should never subscribe to `$all` or read from it (in 99% of cases).

What you should do instead, is create a projection for all streams that you are interested in and subscribe to this. Remember to enable the category projection first. This could look like this:

[

[2018-11-16 15:59] pkruithof commented on #34
Some new findings:

Connecting to the cluster does work when running the demo locally (outside of Docker). Applying #35 helps in this matter.

The main issue that led me into this rabbit hole is consuming from a persistent subscription. What I have found is that when connecting to a persistent subscription, a cluster will return a `NotHandled: NotMaster` package, which should cause the client to r

[2018-11-16 21:14] enumag commented on #26
If I understand the code correctly I can create the projection using `ProjectionManager::createContinuousAsync()`. Alright, I'll try it later. Thanks for the advice!

[2018-11-17 16:02] prolic commented on #32
The closing of the event-store-connection will not close the output (which is \STDOUT). The exception says that \STDOUT is not writeable. I'm not sure yet under which conditions \STDOUT can be not writeable.

By the way:
You can call close() as often as you want on the connection. See also this test-case: https://github.com/prooph/event-store-client/blob/master/tests/event_store_connection_should.

[2018-11-19 07:44] jvdlaar commented on #32
Thank you very much!

[2018-11-19 10:55] pkruithof opened #37 "Reconnecting for subscriptions in a cluster fails"
When using service discovery, connecting to a persistent subscription fails. I'll try to explain what happens:

1. Discovery starts, ES responds with the 'best choice', which is usually a slave node
2. The `ConnectToPersistentSubscription` call is made
3. ES responds with a `NotHandled - NotMaster` package
4. The client disconnects
5. The client tries to remove the active subscription, but since n

[2018-11-19 10:55] pkruithof commented on #34
Most of the issues here are fixed now. I created a separate issue for the remaining issue: #37

[2018-11-19 10:55] #34 closed

[2018-11-19 14:18] callistino commented on #26
The problem with creating it in the UI is that you have no version control over it and having to manually create it for local dev, CI/CD and Prod becomes a pain.

[2018-11-19 14:45] enumag commented on #26
Yeah, it needs to be a part of some migration script...

[2018-11-19 14:46] prolic commented on #26
@callistino actually the projections are all versioned within the event store, no information is ever lost.
It's of course a little different if you have multiple event stores (local dev / staging / production). But I didn't tell you not to create it by code, only you create it FIRST in the UI. You can then go ahead and copy / paste to your source code. The UI is really great for this, because you

[2018-11-19 19:37] prolic commented on #37
That's not that easy so solve, so I created an issue here first: https://github.com/EventStore/ClientAPI.NetCore/issues/42

[2018-11-24 21:31] prolic commented on #37
@pkruithof As this is an issue within the original Client (and maybe even in the server implementation) I'll close this issue. You can track the created issue on their repository, and once they resolve it somehow, I can do something about it here as well.

For now: Just create a subscription first, as this will reconnect for you. You'll receive an `ExistsAlready` response and that's it.

[2018-11-24 21:31] #37 closed

[2018-11-24 21:32] prolic commented on #32
@jvdlaar Amp team confirms this is a problem on their side, so I'm closing this here. You can track the related issue and check once it is resolved or further discuss there. I cannot do something about it at this point.

[2018-11-24 21:32] #32 closed

[2018-11-25 09:46] prolic opened #41 "Add ProjectionsManager::reset method"

[2018-11-25 18:46] prolic opened #43 "Implement PersistentSubscriptions Manager"
Methods:
- list
- describe
- replayParkedMessages

[2018-11-25 18:58] prolic opened #44 "Recheck SubscriptionDrop / LiveProcessing"

[2018-11-25 19:05] prolic opened #45 "Add Sync Projections- / Query- / User-Managers"

[2018-11-25 19:07] prolic opened #46 "Remove type=JS for projections"
... because we will not implement a server in pure PHP.

[2018-11-25 19:17] prolic opened #47 "Rename Method StreamMetadata::build => StreamMetadata::create"

[2018-11-25 20:48] #47 closed

[2018-11-26 07:59] pkruithof commented on #37
Creating is part of our deployment process, but we do an update call first, which has the same effect. Thanks for thinking along 👍

[2018-11-26 18:33] prolic opened #50 "Add ACL security tests"

[2018-11-26 19:09] prolic commented on #45
- [x] UsersManagement
- [x] PersistentSubscriptionManagement
- [ ] ProjectionsManagement
- [ ] QueryManagement

[2018-11-27 13:53] #43 closed

[2018-12-01 18:50] #45 closed

[2018-12-04 15:30] enumag commented on #26
Ok I'm slightly confused... My application is saving data into streams with naming convention like `<boundedContext>.<aggregateType>.<guid>`. Now I need to create a projection from all of these streams.

In your code above you have this:

[code]

How do I create these `$ce-*` streeams? According to the [documentation](https://eventstore.org/docs/projections/user-defined-projections/index.html#sele

[2018-12-04 17:39] prolic commented on #26
you can tell EventStore to start them on server start, see https://eventstore.org/docs/server/command-line-arguments/index.html

[2018-12-04 17:48] prolic commented on #26
yes

[2018-12-04 17:48] prolic commented on #26
or like this: `./run-node.sh --run-projections=all`

[2018-12-04 17:50] enumag commented on #26
No that's definitely not it. I'm starting the docker conatiner with

[code]

and I don't have any `$ce` streams there.

[2018-12-04 17:53] prolic commented on #26
then put this: `EVENTSTORE_START_STANDARD_PROJECTIONS=true`

[2018-12-04 17:54] enumag commented on #26
Will do. Thanks!

[2018-12-06 11:11] enumag commented on #26
Ok. After fixing some [problems](https://github.com/prooph/event-store-client/pull/54) the standard projections are up and running.

Do you think the category streams should be per-bounded-context or per-aggregate-type? Just looking for best-practices. Also what format would you recommend for stream IDs and eventIDs?

[2018-12-06 11:36] enumag opened #55 "HTTP API UserCredentials"
I don't like passing the `UserCredentials` object to each method that uses the HTTP API (such as SyncProjectionsManager or SyncPersistentSubscriptionsManager). Maybe we could pass a default `UserCredentials` to constructor and use it as fallback?

I can prepare a PR for this if you want. If you don't want this feature then just close this issue.

[2018-12-06 11:39] enumag opened #56 "Imposibility to edit native projections"
Currently it's impossible to use `SyncProjectionsManager` / `AsyncProjectionsManager` to update the query of a native projection such as `$by_category` because `ProjectionsClient::updateQuery()` always [adds](https://github.com/prooph/event-store-client/blob/8abe84c6c235883ba3017bf6e7bb6514f58b2499/src/Projections/ProjectionsClient.php#L471) `&type=JS` which breaks the native projection.

I would

[2018-12-06 11:43] enumag opened #57 "Clarify the ports usage in documentation"
Streams are managed via client API (port 1113) while projections are managed via HTTP API (port 2113). We need to clarify this when writing docs for this package.

When trying to do an operation with a wrong port I got very confusing error:

[code]

[2018-12-06 11:49] enumag opened #58 "Projection reset issues"
Here I'm not really sure what's wrong. When trying reset for the first time I got this error:

[code]

But I never saw it since. After that the reset method started failing because of timeouts. However the projection is always reset - much sooner than how long the command is blocking in fact. So it's like the client never receives a response but otherwise everything is ok? What's confusing me even

[2018-12-06 13:48] enumag commented on #26
Ok I have the `everything` projection up.

Next, how do I use the subscriptions? First I most likely need to use `\Prooph\EventStoreClient\Internal\EventStoreAsyncNodeConnection::createPersistentSubscriptionAsync()`. But what then? There is:

- `subscribeToStreamAsync`
- `subscribeToStreamFromAsync`
- `subscribeToAllAsync`
- `subscribeToAllFromAsync`
- `connectToPersistentSubscriptionAsync`

How s

[2018-12-06 14:23] prolic commented on #55
Yes, I'm okay with same. Implementation can be the same as in EventStoreAsyncNodeConnection

[2018-12-06 14:33] enumag commented on #56
It is possible and it is even [documented](https://eventstore.org/docs/projections/system-projections/index.html#by-category):

That's what I'm changing, the default separator is `-` and I'm changing it to `.`.

[2018-12-06 14:34] enumag commented on #56
And no the query is not written in JS. As documented it's simply two lines of text:

default:

[code]

my:

[code]

[2018-12-06 14:34] prolic commented on #26
`createPersistentSubscriptionAsync` -> `connectToPersistentSubscriptionAsync`

Persistent, see? The other ones are called volatile subscriptions (they are not persisted). The benefit of persistent subscriptions are, that they store current position, so when your subscription stops / server goes down / whatever else, then you can continue at the same position. The downside is, they are slightly slo

[2018-12-06 14:35] prolic commented on #26
EventId => only uuid is allowed
StreamId => user-afbaab1d-121e-4471-9a61-cffcfd1af4c6, blog-733425da-079c-46fc-a422-a997a679dee1, etc. One stream for each aggregate.

[2018-12-06 14:40] enumag commented on #26
@prolic Yeah, that's what I've been using myself at first but I wanted to add bounded context name as prefix and separate the type name (`user` in this case) from the uuid by something else than a dash. That's why I went and changed the `$by_category` projection. So in the end I'll use something like this as my stream IDs:

[code]

[2018-12-06 14:50] prolic commented on #26
Don't change the `$by_category`! Don't use it if you don't like it instead and write your own.

For your use-case I would suggest this instead: `Security.User-afbaab1d-121e-4471-9a61-cffcfd1af4c6`

That there is a dash within uuid as well, doesn't matter. The category is the part of the string until the _first_ dash.

[2018-12-06 14:54] enumag commented on #26
Ok I'll consider sticking to the dash. Thanks for your opinion!

[2018-12-06 15:13] enumag commented on #56
I understand that your opinion is that it's better practice to not change the native projections. But I still think it should be possible.

See https://github.com/EventStore/EventStore/issues/1451 and https://github.com/EventStore/EventStore/pull/1472

[2018-12-08 07:52] prolic commented on #56
Thanks for your input, as it's resolved now I will close this ticket.

[2018-12-08 07:52] #56 closed

[2018-12-08 08:05] enumag commented on #56
Ah, you reverted the revert. Ok. :-D

[2018-12-08 08:58] #58 closed

[2018-12-08 11:10] enumag commented on #58
why closed?

[2018-12-08 14:17] #44 closed

[2018-12-08 17:14] enumag commented on #57
Sure. It will take me some time to read through it though. Just leave this open for me for now.

[2018-12-08 17:52] prolic opened #67 "Unit test problem"
Why is `ProophTest\EventStoreClient\PersistentSubscriptionManagement\persistent_subscription_manager::can_replay_parked_messages` failing sometimes with `Failed asserting that false is true.`? Need to investigate.

[2018-12-10 07:51] enumag commented on #26
The documentation seems to mostly be sort of a copy of the eventstore.org documentation which I found quite lacking. What is needed here is some guide how to actually use it in a CQRS environment with the message buses, aggregates etc.

I had that mostly done on my end but now with this async-only thing I'm lost again.

[2018-12-18 23:52] SunMar opened #68 "php-fpm "oops, unknown child exited with 1""
Hi,

I've been playing around with this EventStore client a bit. I've tried various other HTTP and TCP clients (like FriendsOfOuro and Rxnet) but they all had problems that were a no-go for me (HTTP implementations have to do active polling which adds massive overhead and latency and RxPHP silently eats any exceptions thrown in an `onError`). So far I'm really liking this EventStore TCP, you've do

[2018-12-18 23:53] SunMar opened #69 "EventAppearedOnCatchupSubscription uses internal class and non-interface"
Hi, another thing I found is in `EventAppearedOnCatchupSubscription`. The `__invoke()` method takes an `Prooph\EventStoreClient\Internal\EventStoreCatchUpSubscription` but that class is marked as `@internal` in its PHPDoc. That is triggering a warning when the interface is implemented outside the package, since you have to type hint that class to implement the interface. Also the second parameter

[2018-12-20 13:07] prolic commented on #68
@SunMar you should read that comment: https://github.com/prooph/event-store-client/pull/64#issue-237056164

I'd recommend using the http client in a traditional application environment (synchronous). Otherwise use amp's `call()` method, don't start and stop a loop manually. But I'm not sure if Event Store handles lots of connections well.

[2018-12-20 13:09] prolic commented on #69
No, you should implement `EventAppearedOnCatchupSubscription`. The `ResolvedEvent`-interface is really _ONLY_ internal, you should not rely on it at all.

[2018-12-20 13:19] SunMar commented on #69
@prolic I am not relying on it, the point is that the `EventAppearedOnCatchupSubscription` is the one that has the *internal* class `EventStoreCatchUpSubscription` in its signature forcing you to type hint it when you want to implement that interface. This triggers a warning by code checkers.

[2018-12-20 13:20] prolic commented on #69
We can only mark the constructor as internal, if that helps you. Wanna submit a PR?

[2018-12-20 13:20] prolic commented on #69
You can also add the `@internal` annotation to the `ResolvedEvent`-interface - seems like I forgot it.

[2018-12-20 13:23] SunMar commented on #68
@prolic I want to use this in an asynchronous, that doesn't mean though that it should continue forever. There comes a point when there is nothing left to do and at that point the script should finish, preferably gracefully and not via a forced shutdown.

[2018-12-20 13:43] prolic commented on #68
Just close the event store connection then.

[2018-12-20 14:11] SunMar commented on #68
That is what I did initially, but that results in the same issue where the child process of Amphp is killed forcefully and then gives an alert in php-fpm. It could be that this is just something more in Amphp, but in the Amphp documentation I couldn't find anything except a Loop::stop() to finish.

[2018-12-20 14:13] prolic commented on #68
I don't get it, either you use it async or you have php-fpm running. FPM + async - does it makes sense? Not sure.

[2018-12-20 14:13] prolic commented on #68
Maybe you can provide a little more background of what you are trying to do.

[2018-12-21 15:30] SunMar commented on #68
Well right now I'm mostly experimenting in getting the basics down on implementing your client and writing a new application from scratch using Event Sourcing. I'd like to create some projections that run as a service and that can subscribe to multiple event streams and/or subscriptions. Building that in an asynchronous way seemed to make sense to me.

The reason why I'm (also) using PHP-FPM is be

[2018-12-21 15:37] prolic commented on #68
I don't know where this `exit(1);` call should be. I don't find it in amphp lib.

If you want to handle a traditional synchronous application, use event-store-http-client. You can still use the tcp client for asnyc subscriptions (another process, cli script).

If you want to have a async application as well, let the app run via cli as well and use https://github.com/amphp/http-server

[2018-12-21 17:04] SunMar commented on #69
Thank you!

[2018-12-21 17:04] #69 closed

[2018-12-21 17:15] SunMar commented on #68
Yes I'll probably end up using the `event-store-http-client` for the synchronous part of the application, and then this library for the asynchronous part.

To be more specific about the Amphp thing, once you end the loop `Amp\Process\Internal\Posix\Runner->kill()` is triggered (assuming you're running on Linux). On line 150 you have `if (!\proc_terminate($handle->proc, 9)) { // Forcefully kill the

[2018-12-21 17:21] prolic commented on #68
I'd suggest you ask that question on amps issue tracker. But tag me, I'm curious as well.

[2018-12-21 17:40] SunMar commented on #68
Will do that, will try first to create a reproducible setup that doesn't use this library to make sure it really is an Amphp thing.

[2018-12-21 23:11] SunMar commented on #68
Created amphp/socket#56 for this. The error appears on their example script as well so it's probably not something specific to this library. While creating a proper reproducible example I did notice however that this library is using outdated versions of `amphp/process` and `amphp/parallel`. For those version 1.0 have been released and the `composer.json` in this library prevents from upgrading to

[2018-12-22 17:57] prolic commented on #68
These are dependencies of the amp dependencies. For example amphp/socket requires amphp/dns to resolve dns names. amphp/http-server requires amphp/uri, etc.

[2018-12-22 18:12] SunMar commented on #68
Yes, but `amphp/dns` and `amphp/uri` are already required by `amphp/socket` itself. What's the reason for overriding the requirements set by `amphp/socket`? Because right now the `require` in `prooph/event-store-client` is blocking the upgrade of `amphp/parallel` and `amphp/process`. Blocking an upgrade can make sense if you're directly dependent on those packages, but if you're not they shouldn't

[2018-12-22 18:53] prolic commented on #68
You're right. I probably added those in an early stage of development for some reason and forgot to clean up.

[2018-12-22 18:53] prolic commented on #68
PR would be welcome

[2018-12-22 18:54] prolic commented on #68
@SunMar https://github.com/prooph/event-store/pull/354 might be interesting to you as well.

[2018-12-22 19:10] SunMar commented on #68
Created PR #71 for the unused dependencies. Also I've looked at prooph before but got stuck on it and since it doesn't support EventStore (yet) I parked it as something to maybe look into later. Thank you for mentioning that PR, I'll track it and once it's merged revisit the prooph ES framework :).

Also will close this ticket now since the original issue I opened it for is an Amphp thing and does

[2018-12-22 19:10] #68 closed

[2018-12-22 19:15] prolic commented on #68
The event-store-client will simply rely on prooph/event-store v8 and some classes (f.e. `EventData` and `ResolvedEvent` will be removed from this repository, that's it. Future prooph event-store implementations (based on sql f.e.) will implement the interfaces of v8 and use its common classes as well. So you have one common interface for all event store implementations, no matter if SQL, ArangoDB

[2018-12-22 21:39] SunMar opened #72 "Optional logging dependencies"
Hi @prolic,

While going through the dependencies a bit more it looks like these can be considered more like optional dependencies:

[code]

The only place those three are used is in `ConnectionSettingsBuilder` in the methods `useConsoleLogger()` and `useFileLogger()`, however neither of those functions is ever called except from the example scripts. Is it perhaps an idea to remove those two funct

[2018-12-22 21:40] SunMar commented on #72
`prooph/event-store-client` then only has to rely on:

[code]

Though on a side note, isn't `"ext-protobuf": "*",` missing there? It's not optional, is it?

[2018-12-22 22:11] prolic commented on #72
amphp/socket should be upgraded to 0.10.11 (bugfixes available).

ext-protobuf is required, that's correct, so let's add it. The problem is, that allegro/php-protobuf is needed and not protocolbuffers/protobuf from google, but both are claiming to be "ext-protobuf".

About useConsoleLogger() and useFileLogger() methods: I like to keep them, however we can make the dependencies for them optional. I

[2018-12-23 10:01] enumag commented on #72
They should be optional I think.

[2018-12-23 11:55] SunMar commented on #72
@prolic What is the reason you'd like to keep those two functions? Is it for easy of use, backwards compatibility or something else?

[2018-12-23 12:39] prolic commented on #72
If you inject a normal psr logger like monolog, you make the app blocking again. Do you know how to setup a non blocking async console or file logger without looking at the details of those methods? If not, and if amphp is already hard to understand if you never wrote async php and if you don't know this library's API, you're much better off if such a thing is provided by default.

I would never i

[2018-12-23 19:49] prolic opened #75 "Bug in tests using lib-uv"

[2018-12-24 11:12] SunMar opened #76 "Graceful stop on SIGTERM"
Hi,

Subscribing to a stream works great, but I'm now trying to implement some logic so the process can stop gracefully if it receives a SIGTERM. Amphp has `Loop::onSignal()` for that. In my `onSignal` callback I can do a `stop()` on all the subscriptions that are running. It looks however like that only stops the listeners for the subscription, but of course in a non-blocking way. Basically when

[2018-12-25 08:15] prolic commented on #76
[code]

That should do the trick.

[2018-12-25 21:41] SunMar commented on #76
@prolic that solution doesn't appear to work, I was already experimenting with that.

The problem is that `$subscription->stop()` immediately returns an `\Amp\Success`, even if the subscription is still in the midst of processing events. If you then also immediately close the connection you'll get a connection failure in `EventStoreConnectionLogicHandler` on line 683 since it will try to restart t

[2018-12-26 16:57] prolic commented on #76
I see. Sorry, in this case I need to investigate a little more. I hope to get to it soon.

[2018-12-28 15:35] prolic commented on #76
So from what I can see, there is no way to do it perfectly.
I'd suggest go with `$subscription->close();`, then delay to close the connection like this: `Loop::delay(5000, function () use ($connection) { $connection->close(); });` - this will wait 5 secs before closing the event store connection, so you give the subscription a little time to get to the subscription drop notification. If your event

[2018-12-28 16:14] SunMar commented on #76
Though is it really necessary to actually close the connection? The main reason for me is because as long as the connection is open it also keeps the loop going. If I'm not mistaken it's because of the timer tick watcher that's a referenced watcher. But what's the reason for it actually being a referenced watcher?

If you have running operations (what are those exactly? I saw them in the code but

[2018-12-28 21:30] prolic commented on #76
The event loop is running until there are no more watchers. The connection has a permanent watcher, the heartbeat. So as long as you don't close the connection, heartbeats will be handled.

[2018-12-28 22:18] SunMar commented on #76
The loop only runs until there are no more referenced watchers.  Why does the heartbeat need to be a referenced watcher?

[2018-12-29 09:36] prolic commented on #76
@SunMar I tried changing that today, but some tests are failing then.

[2018-12-29 14:53] prolic commented on #76
I just checked why tests are failing: When the timer ticks are handled by unreferenced watchers, it happens that the connection gets closed and then you have a useless connection lying around. So I don't know how to do this, but if you can provide a PR that does it without breaking tests, I'm all for it.

Closing this ticket now.

[2018-12-29 14:53] #76 closed

[2018-12-30 22:18] SunMar commented on #76
@prolic I don't have time right now but I'll take a look at it somewhere this week. Should putting a `Loop::unreference()` around the watcher be enough, and then figure out why the tests are failing? Or is there more I should take into account?

[2018-12-30 23:10] prolic commented on #76
@SunMar I pushed my `unreferenced_heartbeat` branch, you should be able to go from there. I hope it helps.

[2019-01-05 18:07] SunMar commented on #76
@prolic I've been digging into this and also been talking with trowski of amphp who helped me a lot in getting more familiar with how Amphp works. The basic jist of it all is that simply unreferencing the loop in `startReceiving()` isn't going to work because the socket connection itself is also referenced. And you can't unreference both because then you don't have any unreferenced watchers and th

[2019-01-26 20:39] SunMar opened #82 "v1.0.0-beta-9 requires prooph/event-store dev-master instead of v8.0.0-beta-1"
Hi,

Just tried to update to `v1.0.0-beta-9` but composer started complaining because it depends on `"prooph/event-store": "dev-master"` instead of `v8.0.0-beta-1`. This is more of a FYI. I solved it by adding in the `composer.json` of my root project:
[code]

[2019-01-26 21:49] prolic commented on #82
thanks for the hint, I hope for next beta I think about this :)

[2019-01-26 21:49] #82 closed

[2019-02-05 15:26] jvdlaar opened #85 "Reconnect to persistent subscription after a connection drop"
I was testing if my client reconnects to a persistent subscription when it looses it's connection. So I see the Subscription dropped callback being called and I also see the onReconnecting and onConnected callbacks being called. But after it reconnects it won't automatically listen to the persistent subscription. Therefore I moved my entire "connect to the subscription" logic into the onConnected

[2019-02-06 18:00] prolic commented on #85
@jvdlaar Try this first: Move the  connectToPersistentSubscriptionAsync` out of the `onConnected` method. You don't need that. If you still encounter problem, I hope to find some time this weekend.

[2019-02-07 08:18] jvdlaar commented on #85
Well I moved it there to make sure that it reconnects to the persistent subscription after an eventstore reconnect. Without this it'll only reconnect to the event store, but it will not reconnect to the subscription.

[2019-02-07 09:01] prolic commented on #85
Please have a look here, as this is the exact same behaviour: https://github.com/EventStore/EventStore/issues/1324#issuecomment-305475324

[2019-02-07 09:01] #85 closed

[2019-03-26 10:26] enumag opened #86 "ConnectionClosed exception"
Our command that connects to persistent subscription to project events into a SQL database sometimes fails with `Prooph\EventStore\Exception\ConnectionClosed`.

Here is the relevant part of the stack trace:

[code]

I checked some other similar issues and as far as I can tell it seems I need to implement a reconnecting logic [here](https://github.com/prooph/event-store-client/blob/master/examples/

[2019-03-26 16:47] prolic commented on #86
@enumag this is related: https://github.com/prooph/event-store-client/issues/85

About the connection getting closed: there seems to be a problem with the tcp connection logic, I receive this error as well quite often which is a problem to me. Will need to look further into this, but it's hard to debug, as it happens not regular.

[2019-03-26 18:21] enumag commented on #86
Maybe we could try debug it with something like [phptrace](https://github.com/Qihoo360/phptrace).

Is there a way to work around this for now and reconnect manually? I tried to implement it today but since I can't reproduce the issue reliably I have no way to test if it works.

[2019-03-26 18:28] prolic commented on #86
See the issue I linked. There is an issue on EventStore.org repo where a
workaround is posted. As for myself: never tried it, I just restarted the
process (supervisord).

On Tue, Mar 26, 2019, 14:21 Jáchym Toušek <notifications@github.com> wrote:

[2019-03-27 15:38] gitomato opened #87 "Protobuf dependency"
Thanks for your work.

I saw that Protobuf version has been downgraded from v3 to v2. What is the reason?

Also, do you plan to make protobuf optional so we can use another strategy (for example, a pure PHP userland alternative)?

[2019-03-27 16:58] enumag commented on #87
IIRC the reason is that protobuf v3 doesn't support nullable fields.

[2019-03-27 19:39] prolic commented on #87
The problem is server-side on the eventstore. But with the latest release they fixed this behaviour so going back to protobuf 3 from google is an option again. Need to check this, takes a little time.

By the way: Is there a pure PHP userland alternative anyway? I don't think it's worth the effort, as we would need to wrap all autogenerated classes, allegro protobuf and google protobuf have alread

[2019-03-28 14:27] bogdangrigore opened #88 "[Help needed] Trying to understand subsciptions"
I am currently writing a PHP project using GYES as the data storage.

I am trying to make a simple read model based on users that register in my application.

In the Event Store I have activated the $by_category projection. I have also created a persistent subscription for the $ce-user stream.

Starting from [this](https://github.com/prooph/documentation/blob/master/event-store-client/readmodels.m

[2019-03-28 14:45] prolic commented on #88
Set resolveLinkTos to true

[2019-03-28 15:03] bogdangrigore commented on #88
@prolic Thank you very much. That was extremely helpful! I completely missed that option when I created the subscription.

[2019-03-28 15:10] #88 closed

[2019-03-29 09:41] gitomato commented on #87
Thanks for your answers.
Actually I was thinking of another serializer instead of Protobuf (native Json for example).

[2019-03-29 14:56] prolic commented on #87
No way. This protobuf is the protocol used to communicate with the server. You can't simply wish for another implementation on the server side.
You can use http client to communicate via http api though.

[2019-03-29 16:56] bogdangrigore opened #89 "Possible bug when trying to use the ProjectionsManager"
So I have the following code:

`$userCredentials = new UserCredentials('admin', 'changeit');`
`$httpEndpoint = new EndPoint('172.18.0.2', '2133');`
`$projectionManager = new ProjectionsManager($httpEndpoint, 1000);`
`yield $projectionManager->enableAsync('$by_category', $userCredentials);`

The code above results in `Fatal error: Uncaught Amp\Socket\ConnectException: Connection to tcp://172.18.0.2

[2019-03-29 17:01] enumag commented on #89
To use the HTTP API you need https://github.com/prooph/event-store-http-client instead of this package.

[2019-03-29 17:04] bogdangrigore commented on #89
@enumag Well that would explain why it does not seem to be working. Thank you for your answer!

[2019-03-29 17:05] prolic commented on #89
@enumag that's a wrong answer

the projections manager works via http api only.

@bogdangrigore have a look at the unit tests, f.e. tests/when_creating_one_time_projection.php

[2019-03-29 17:14] enumag commented on #89
Oh. Sorry then.

[2019-03-29 17:29] #87 closed

[2019-04-01 09:39] bogdangrigore commented on #89
@prolic As far as I can tell the tests and my implementation are the same as the example in the unit tests.

    `$userCredentials = new UserCredentials(getenv('EVENTSTORE_USER'), getenv('EVENTSTORE_PASSWORD'));`
    `$httpEndpoint = new EndPoint(getenv('EVENTSTORE_HOST'), getenv('EVENTSTORE_HTTP_PORT'));`
    `$connectionSettings = ConnectionSettings::create();`
   ` $connectionSettings = $connec

[2019-04-01 09:43] bogdangrigore commented on #89
@prolic Never mind. I was using the wrong port in the ENV variables. Sorry.

[2019-04-01 09:43] #89 closed

[2019-04-02 08:40] enumag commented on #86
It seems that reconnecting doesn't really help. Or actually it does but it only projects a few events before the connection is closed and then it takes several seconds to reconnect. This is completely useless because I have tens of thousands of events waiting in the queue so with a pause after every few events it will never finish.

Here is something from `docker-compose logs`. The reason is alway

[2019-04-02 08:53] enumag commented on #86
Do you know what is the heartbeat about? Could some changes to `ConnectionSettings::heartbeatInterval()` and `ConnectionSettings::heartbeatTimeout()` fix it?

I found the default values [here](https://eventstore.org/docs/dotnet-api/connecting-to-a-server/index.html#reconnections) but I'm not sure what settings I should try. The issue is still not easy to reproduce for me to experiment with it prop

[2019-04-02 09:23] enumag commented on #86
Hypothesis: Maybe the heartbeat does not occur when I'm processing the one big event so if the processing of that event takes longer than `heartbeatTimeout` then the connection is closed.

[2019-05-06 18:05] prolic commented on #86
Upon further investigation: This is not a bug in the library!

The problem occurs when the server is sending too many data for the client to handle and thus the server decides, the connection is broken, because too much data is piling up.

There are two possible options:
1) `ConnectionPendingSendBytesThreshold` is a setting on the server, the default is `10485760`. You can increase this number.
2)

[2019-05-06 18:05] #86 closed

[2019-05-20 14:19] MassiAtHG opened #92 "Best connection methodology on K8S"
I am struggling finding the best way to connect to an ES running on K8S in a cluster formation of 2. I was not able to connect properly in any way apart from using 'discover' which resulted though in 'HEARTBEAT TIMEOUT at pkgNum ...' errors until the max retry attempts are reached.

[2019-05-20 14:21] prolic commented on #92
Clusters need to have odd numbers, like 3, 5, 7, and so on

On Mon, May 20, 2019, 10:19 MassiAtHG <notifications@github.com> wrote:

[2019-05-20 15:31] MassiAtHG commented on #92
I set the cluster size to 3 and discovery worked properly. Thanks a lot.

[2019-05-20 17:14] #92 closed

[2019-05-20 17:14] prolic commented on #92
you're welcome

[2019-07-20 06:40] #50 closed

[2019-09-19 07:18] enumag opened #99 "Outdated readme"
I wanted to work on a pull request but I need to be able to run the tests. The readme says to use `./run-node.sh --run-projections=all --mem-db` but there is no `run-node.sh` file. Please update the readme accordingly.

[2019-09-19 11:44] SlayerBirden opened #101 "PersistentSubscriptionSettingsBuilder requires all settings in constructor"
It seems not logical to have `PersistentSubscriptionSettingsBuilder` require the same settings that `PersistentSubscriptionSettings` does - what's the benefit of using builder with all the setters inside...
I think it should have the same structure as `ConnectionSettingsBuilder` with defaults set to variables and no constructor args.

If that makes sense I can create a PR for it, thanks.

[2019-09-21 02:33] prolic commented on #99
this is part of the event-store server:

[code]

does it help?

[2019-09-21 02:42] prolic commented on #101
Good catch, it seems like I totally missed that!

Here are the defaults:

[code]

=>

[code]

[2019-09-21 04:47] enumag commented on #99
Oh... well that's really unclear... Anyway I'm not interested in running the eventstore locally. I want to do it with Docker. Which I eventually found [here](https://github.com/prooph/event-store-client/tree/master/docker/unittest) - that should be linked from the readme too. It doesn't really work after my updates though as mentioned in the PR.

[2019-09-21 16:16] prolic commented on #99
You can also use in-memory-db with docker, you have to set it as environment variable.

[2019-09-22 07:43] enumag opened #102 "Default UserCredentials"
Since commit https://github.com/prooph/event-store-client/commit/0d4d18d20a1ca90506b5c825e04079e05a73a624 all the `*Manager` classes support passing default UserCredentials. The main API for async communication (`Prooph\EventStoreClient\Internal\EventStoreNodeConnection`) however does not.

Your old [comment](https://github.com/prooph/event-store-client/issues/55#issuecomment-444886854) in #55 sug

[2019-09-22 08:15] enumag commented on #75
Is this still happening? Should I rather use some other extension than uv until this is resolved? Which Amphp loop implementation are you using in your projects and why?

[2019-09-22 17:02] prolic commented on #75
Usually you don't need any event-loop extension at all. There is only a performance difference when you have high numbers of concurrent socket connections.

The issue is still relevant (using uv here):

[code]

I think this is a bug in the event-store-client implementation, but unfortunately I wasn't have to isolate the problem and fix it (yet).

[2019-09-22 17:14] prolic commented on #99
I updated the readme via f0ede57613aeff28b4b83c0fe1879210e9752fe6

[2019-09-22 17:14] #99 closed

[2019-09-22 17:17] enumag commented on #99
👍

[2019-09-23 08:51] enumag commented on #102
ping @prolic

[2019-09-23 13:54] prolic commented on #102
see here: https://github.com/prooph/event-store-client/blob/master/src/Internal/EventStoreConnectionLogicHandler.php#L449

Using http connection you need to authenticate every single request. Using the tcp connection, you only authenticate the connection once, and after that you can set credentials to override only.

[2019-09-23 13:54] #102 closed

[2019-09-24 14:53] enumag commented on #102
Oh, somehow I didn't notice. Thank you!

[2019-09-25 14:39] #101 closed

[2019-09-26 10:58] burzum opened #103 "examples/demo-subscribe-to-all.php throwing exception"
When running this script I'm getting the error below. https://github.com/prooph/event-store-client/blob/master/examples/demo-subscribe-to-all.php

This happens with Event Store V4 and V5. I've also tried the suggestion here https://github.com/prooph/event-store-client/issues/86 to change the server config https://github.com/prooph/event-store-client/issues/86

[code]

Here is the log from the even

[2019-09-26 16:45] prolic commented on #103
And your event-store is running on host "eventstore" on port "1113", the
port is open and PHP script has access?

Sascha-Oliver Prolic

Am Do., 26. Sept. 2019 um 06:58 Uhr schrieb Florian Krämer <
notifications@github.com>:

[2019-11-22 20:15] prolic opened #105 "Add new scavenge feature"
see https://github.com/EventStore/documentation/pull/276

Should be integrated in the docs.

[2019-11-25 17:28] prolic commented on #103
Cannot reproduce. Maybe it's fixed by another commit already. Feel free to reopen, if it occurs again.

[2019-11-25 17:28] #103 closed

[2019-11-29 02:53] prolic opened #107 "Upgrade to PHP 7.4 (property typehints)"
Vote

yes: :+1:
no: :-1:

[2019-11-29 03:00] prolic commented on #107
ping @codeliner @SunMar @pkruithof @enumag @sandrokeil @burzum @bogdangrigore @SlayerBirden @gitomato

[2019-11-29 06:17] enumag commented on #107
Longterm: yes
Shortterm: Protobuf isn't even compatible with 7.4 yet. Also PHP x.y.0 versions are known to be quite buggy so better wait a while.

[2019-11-29 08:13] codeliner commented on #107
I guess folks who run PHP 7.3 already will upgrade to 7.4 quickly. If protobuf does not compile yet, this is a blocker, right? So we have no choice. Otherwise I'd set 7.4 as minimum to be able to use typed properties.

[2019-11-29 09:06] SunMar commented on #107
Well I am not using this package anymore, because the personal PoC project I was using it in turned out to be not so viable (at least in PHP, for various reasons that had nothing to do with this package). So for me it doesn't matter.

But for a general point of view, and do with this information whatever you want, is that RHEL/CentOS is only just now getting support for PHP 7.3. It will probably b

[2019-11-29 09:13] pkruithof commented on #107
I'd wait for the first minor release before requiring it, or at least some patch releases.

We're still using it (in production) but are going to migrate away from Eventstore completely as we found it to be unreliable. We had multiple occasions where events were not properly distributed across projections, the correlation projection faulting multiple times, and lots of smaller issues, some of whic

[2019-11-29 11:27] SlayerBirden commented on #85
Hi @prolic I have a question regarding the "restarting subscription in _subscriptionDropped_ handler". `\Prooph\EventStore\Async\PersistentSubscriptionDropped::__invoke` returns "void", so I can't use it as Generator. If I try to call `connection->connectToPersistentSubscriptionAsync(` without yield - it just does nothing, if I try to call it inside a "second" Loop::run - it complains that connect

[2019-11-29 11:36] codeliner commented on #107
Wow, very interesting insights. What is your alternative to EventStore @pkruithof ?

@SunMar can you share why it was not viable? You already said it has nothing to do with the package. But anyway, if possible I'd love to know the reason. Might be a very important information for us.

[2019-11-29 12:03] enumag commented on #85
@SlayerBirden I suppose I can share my solution. See https://gist.github.com/enumag/9ee5fe4f527946c6c60efba4b2051491#file-connecttopersistentsubscriptioncommand-php-L179-L226

[2019-11-29 12:22] SlayerBirden commented on #85
@enumag thanks so much for sharing your solution, it does work for me and subscription is re-created!

[2019-11-29 12:22] pkruithof commented on #107
We're looking at cloud-hosted solutions because we don't want to host or manage these kinds of datastores anymore. Right now we're experimenting with Google Firestore, using a very basic implementation based on the blueprint that I think you wrote, correct?

So far the performance is far from comparable: Eventstore is much faster to write to or read from, especially when you run it next to your ap

[2019-11-29 12:26] pkruithof commented on #107
By the way, I'm sure that you can run Eventstore reliably in certain setups. But I think that's mostly on a very high specced vps/server cluster in a rack next to your application. You simply have to spend a lot of money on it.

The thing is that if your datastore cannot handle data integrity unless it is hosted in a specific kind of way, it's not ok to use it for critical parts of your applicatio

[2019-11-29 12:51] codeliner commented on #107
We are very happy with our MongoDB-Cluster running on AWS EC2 especially since MongoDB 4.x (transaction support was added), but the cluster is managed by the team.

For our new SaaS product InspectIO we start with proop/event-store v7 Postgres version and try AWS RDS Aurora, but want to switch to v8 with EventStore later. Hence, your feedback is very interesting for me. @prolic was very happy with

[2019-11-29 13:52] pkruithof commented on #107
You can contact me if you have any more questions, happy to provide additional insights :-)

[2019-11-29 13:57] SunMar commented on #107
@codeliner To consume an EventStore projection you have two options:

1. Start polling via an HTTP API
2. Start listening on a TCP connection and wait for EventStore to push to you whenever something arrives.

Option 1 isn't viable if you want your consumer to consume events in (near) real-time. You'll just be hammering EventStore with HTTP requests which is very slow and very inefficient. It just

[2019-11-29 14:38] enumag commented on #107
@SunMar

AMP package: https://github.com/phpinnacle/ridge
ReactPHP package: https://github.com/jakubkulhan/bunny
(Bunny seems to work fine with AMP too.)

That's not necessarily an issue for single-purpose commands such as consuming a projection.

See https://amphp.org/parallel/workers

[2019-11-29 16:07] SunMar commented on #107
@enumag Those points don't address the core of my concerns. But my initial reply was because @codeliner asked, I don't want to take over this issue with more off-topic stuff. If you're interested I'm more than happy to elaborate / deep dive into this elsewhere :).

[2019-11-29 16:34] codeliner commented on #107
thx @pkruithof and @SunMar

[2019-11-29 16:59] prolic commented on #107
Thanks for all your feedback. A few notes: protobuf is avaible not only via pecl, but also via packagist as a library (in pure PHP). That said, it should be possible to run this on PHP 7.4 right now and when the extension gets updated, than that will work as well.

As I don't want to create a new major version every year (working on this one for 1.5 years! already), it's easier for me to do this o

[2019-12-01 02:03] prolic commented on #105
It's server side only, nothing for the client.

[2019-12-01 02:03] #105 closed

[2019-12-01 02:58] #57 closed

[2019-12-05 14:02] gquemener opened #108 "Unclear message when trying to communicate through closed connection"
![Screenshot from 2019-12-05 14-58-53](https://user-images.githubusercontent.com/668604/70241814-fb1cd180-176f-11ea-805f-b93934cbc5fb.png)

The error message indicating that the connection has been closed and thus cannot be used, is not clear.

I'll make a suggestion later (unless this is an expected behaviour?).

[2019-12-05 16:54] #108 closed

[2020-01-30 12:47] enumag commented on #107
Note: Protobuf extension is compatible with 7.4 now. Also PHP is now at 7.4.2 so I think it's time to do this change. I could attempt to do it using Rector but I'd prefer [this PR](https://github.com/prooph/event-store-client/pull/100) to be merged first.

[2020-02-08 22:17] prolic commented on #75
@kelunik @trowski any ideas on how to debug this?

[2020-02-09 09:05] kelunik commented on #75
Please report this to the amphp / amp repository.

[2020-02-10 21:10] prolic commented on #75
@kelunik already done here: https://github.com/amphp/amp/issues/292

unfortunately without response so far.

[2020-02-11 19:11] kelunik commented on #75
Oops, sorry, should have been bwoebi/php-uv...

[2020-02-16 07:51] prolic opened #114 "Support EventStore v6"
support gRPC client as well?

[2020-02-17 00:10] prolic commented on #107
done.

[2020-02-17 00:10] #107 closed

[2020-02-19 17:52] prolic commented on #75
Root cause is finally found! I'm working on resolving this issue, but I have to change a couple hundred of tests, so will take a little.

[2020-03-12 13:04] rodion-k commented on #114
TCP interface deprecated in Event Store 6.0.0 Preview 3

[2020-03-12 13:42] enumag commented on #114
The problem is that ext-grpc doesn't support non-blocking API. See https://github.com/grpc/grpc/issues/12017.

[2020-03-17 16:41] prolic opened #119 "Support UUID1 / UUID5, ..."

[2020-03-17 17:55] BoyeMagnus commented on #119
Would it be possible to support just an interface instead of a class? That way people can provide their own implementations?

[2020-03-17 18:05] prolic commented on #119
Maybe, but I need to make sure it's a valid GUID, otherwise you'll run into problems. Using `Ramsey` in PHP, you need to enable the `GuidStringCodec` in the `FeatureSet`. That's why I thought initially that a class that doesn't allow you the freedom to break the event store is the better solution.
I need to have a look, because I thin different types of UUID's are a valid feature requirement.

[2020-04-06 19:56] #75 closed

[2020-04-07 01:16] prolic commented on #119
Am I stupid?

https://github.com/ramsey/uuid/issues/306

[2020-04-10 22:40] patrickkusebauch opened #123 "RC not compatible with any release of "prooph/event-sourcing""
The proposed RC depends on "dev-master" of "prooph/event-store". However the latest release of "prooph/event-souring" (even dev-master) require "prooph/event-store" as "^7.0". Therefore it is not possible to install both at the same time. I had to resort to installing "1.0.0-beta-8" that does not have an unrestricted dependency.

[2020-04-11 00:06] prolic commented on #123
Do not, I repeat, do NOT use prooph/event-sourcing with this library. Refer to the [event-sourcing blueprints](https://github.com/prooph/documentation/blob/master/event-store-client/blueprints.md) instead.

[2020-04-11 00:06] #123 closed

[2020-04-30 07:30] prolic opened #127 "Add psalm"
This can also make some interfaces obsolete, like `EventAppearedOnSubscription` and `SubscriptionDropped`, because we can have psalm check for correct callables. There's a downside as this is "only" checked with a static analysis tool and not at runtime directly, on the other we can remove quite some code and for end-users it's was more comfortable to just pass a callable, compared to writing a ne

[2020-04-30 19:36] enumag commented on #127
👍  Yeah, I agree... having interfaces for callbacks is cool but also complicates the usage since you have to write an anonymous class, constructor, property etc. to use some service in the event. Would also make the last missing piece of #117 much cleaner.

[2020-04-30 22:26] Nek- opened #128 "[RFC] Adding PHPdoc to generate API docs"
Do you think it's a bad idea?

[2020-04-30 23:08] Nek- commented on #128
Closing because there is already some phpdoc (not enough to make a good doc though) and also there's some hidden documentation here: https://github.com/prooph/documentation/blob/master/event-store-client/index.md

[2020-04-30 23:08] #128 closed

[2020-05-01 10:22] Nek- opened #129 "Issue with simple examples and event store 5"
Hello I tried to follow the documentation of [eventstore](https://eventstore.com/docs/getting-started/index.html?tabs=tabid-3%2Ctabid-dotnet-client%2Ctabid-dotnet-client-connect%2Ctabid-5). With the idea in mind of adding PHP aside of .net & jvm examples :muscle: .

But event-store-client simple usage seems to have issues:

[code]

[code]

And the only thing I get is an exeception/failure:
[code]

[2020-05-01 15:58] Nek- commented on #129
I was trying to use the last version. I tagged `@dev` in composer. But it loaded the beta T_T. That's why.

[2020-05-01 15:58] #129 closed

[2020-05-01 17:07] prolic commented on #128
Yeah, documentation will go online together with final release. The documentation needs some bits here and there still, but right now most work goes into polishing the library.

[2020-05-02 04:08] prolic opened #133 "Travis failed (ramsey uuid 4)"

[2020-05-02 04:19] prolic commented on #133
see https://github.com/ramsey/uuid/issues/314

[2020-05-02 04:20] prolic commented on #133
I reverted the PR that allowed v4 for now, see https://github.com/prooph/event-store/pull/396

[2020-05-02 16:38] Nek- commented on #133
I assume this can be closed then?

[2020-05-02 16:40] Nek- opened #136 "[RFC] Removing "type" from projections management"
I'm not sure on that one but it looks like they removed the `type` argument on methods related to the projections.

I assume the type cannot be something else than JS?

Method `createContinuousAsync` as an example here:
https://github.com/EventStore/EventStore/blob/a8d5029968ddde7972c3d0be4cf1ef693359ccc5/src/EventStore.ClientAPI/Projections/ProjectionsManager.cs#L99

[2020-05-02 19:44] prolic commented on #136
As for this client, no, but if we want to add postgres support for v8, the type would be "PHP".

[2020-05-02 19:49] prolic commented on #133
Let's leave it open until we hear back from ramsey.

[2020-05-11 01:07] #127 closed

[2020-05-17 18:22] #136 closed

[2020-05-17 22:14] prolic opened #141 "Change constructors for http communications"
Current we use this:

`string $httpSchema = EndpointExtensions::HTTP_SCHEMA,`

change to:

`bool $tlsTerminatedEndpoint`

and then

`$httpSchema = $tlsTerminatedEndpoint ? EndpointExtensions.HTTPS_SCHEMA : EndpointExtensions.HTTP_SCHEMA;`

[2020-05-17 22:14] prolic commented on #141
QueryManager, ProjectionManager, UserManager, f.e.

[2020-05-17 22:17] prolic commented on #141
@unixslayer interessted?

[2020-05-17 22:28] unixslayer commented on #141
@prolic always ;)

[2020-05-19 07:28] #141 closed

[2020-06-06 23:17] Nek- opened #144 "EventStorePersistentSubscription is in namespace internal but required to be used"
When you connect to a pesistent subscription to handle error you need to typehint from internal.
[code]

This class is not marked as internal and we do not need to instantiate it, so there's no impact on IDE and feels not that bad. This is just weird, so I report it.

[2020-07-08 22:27] Nek- opened #145 "Connection process cannot be "waited""
# Expected behavior

[code]

TCP Connection ready after this. Any further instruction yield to be waited as well.

# Actual behavior

The connection is not even created, at this state either nothing has been done or discovering endpoints, which is part of the connection.

This means that any statement that comes after (and is yielded!) will not be finished and wait because the library has an inter

[2020-07-09 02:21] prolic commented on #145
`wait` is helper wrapper around `Loop::run` that stops the loop as soon as the passed promise is resolved. What you are trying to do is a bad idea in general. When being in a sync app, why don't you use the http-client?

[2020-07-09 02:24] prolic commented on #145
Even if you would make it work somehow, imagine this:
[code]

What happened? You just destroyed your connection. Once the loop is stopped (this is what `wait` does) the heartbeats are not longer handled and all incoming messages from the event-store server are not handled.

[2020-07-09 02:30] prolic commented on #145
This is how a connection is established:

https://github.com/prooph/event-store-client/blob/master/src/Internal/EventStoreConnectionLogicHandler.php#L247-L251

As you can see here, the command to establish the connection is enqueued and the promised is resolved.

See https://github.com/prooph/event-store-client/blob/master/src/Internal/EventStoreConnectionLogicHandler.php#L312-L340

The actual est

[2020-07-09 02:30] #145 closed

[2020-07-09 06:08] Nek- commented on #145
Yes, my point is that the connection promise should not be resolve at this state because it's not connected yet.

[2020-07-09 10:21] prolic commented on #145
This is a wrong assumption. The promise will be resolved, once the command to establish a connection has been enqueued.
Again, if you are working in a standard-php application, which is sync and blocking (a.k.a. you use `wait`), stick to the HTTP client implementation (https://github.com/prooph/event-store-http-client/).

What you are describing here is the actual desired behavior.

[2020-07-09 13:02] Nek- commented on #145
I should be able to connect using high performance way (direct socket) that's how we use mysql and postgresql, I want to do same with eventstore.

Maybe my implementation is not the best (I already have ideas to make it better).

But one thing I'm sure about, if I yield for connection, then connection must be established and ready. Amphp is not designed to be yolo asyc, it has pattern, yield to wa

[2020-07-10 00:53] prolic commented on #145
Again, this is not a bug. The connection doesn't need to be there once `connectAsync` is waited for. See also the original .NET client which this is a port from: https://github.com/EventStore/EventStore/blob/master/src/EventStore.ClientAPI/Internal/EventStoreConnectionLogicHandler.cs#L136-L137

If you want to wait until the connection is ready, you can do that by resolving a custom deferred using

[2020-11-26 08:51] grymmare opened #150 "MemberInfoDto timeStamp is a string, not int as the code suggests for a v5 cluster"
I'm connecting to a v5 cluster using DNS resolution and the latest dev-master

`Typed property Prooph\EventStoreClient\Messages\ClusterMessages\MemberInfoDto::$timeStamp must be int, string used`

The data received for `timeStamp` is indeed a `string`

[code]
Not sure if v20.6 returns an integer or a timestamp, I have not been able to test.

I resolved this on my end by patching with composer auto

[2020-11-26 19:11] prolic commented on #150
I have to double check about this type information, hopefully will get to it this weekend. I think this value is never used anyway, and only interesting in debugging scenarios.

[2021-01-25 08:32] enumag opened #153 "Event Store is now secure by default"
https://github.com/prooph/event-store-client/commit/a7b6c3132e6abeb90cbb58fb9dee2df668fdf085

This commit causes https://github.com/prooph/event-store-client/blob/master/src/ConnectionSettings.php#L120.

1. I'm now required to call `useSslConnection()` but it requires "targetHost" and I'm not sure what exactly I should pass there. I specified where to connect using the `EndPoint` object passed to

[2021-01-25 08:51] enumag commented on #150
https://github.com/prooph/event-store-client/commit/70281782c87b8976c859476bcf07b40566096129

[2021-01-25 08:51] #150 closed

[2021-01-26 19:04] prolic commented on #153
my bad, fixed via  0b3d028

[2021-01-26 19:04] #153 closed

[2021-01-26 19:05] prolic commented on #144
This class is in internal namespace, but the `@internal` annotation has been removed.

[2021-01-26 19:05] #144 closed

[2021-01-26 19:08] prolic commented on #114
I am running this library with `EventStoreDB 20.10.0 (LTS)` in production, GRPC is an issue, but for now everything works.

[2021-01-26 19:08] #114 closed

[2021-01-26 19:48] enumag commented on #153
cool but I'd still like to know how to use ssl 🤔

[2021-01-26 20:28] prolic commented on #153
I can show you my setup:

For single-node connection (staging, development mode) use this connection string:

`ConnectTo=tcp://admin:changeit@eventstore:1113`

For 3-node-cluster and secure connection (production) use this connection string:

`ConnectTo=discover://admin:changeit@eventstore:2113;useSslConnection=true;targethost=eventstore`

(you'd have another host name here usually)

Next I have a

[2021-01-28 08:12] enumag commented on #153
Can you share your `$config->connectionString()` method? 🤔

[2021-02-03 01:21] prolic commented on #153
This is a simple getter. I provided the connection string before, one for
dev/staging via single node, the other for production via DNS cluster
discovery.

On Thu, Jan 28, 2021, 05:12 Jáchym Toušek <notifications@github.com> wrote:

[2021-02-09 16:55] fabiocarneiro opened #154 "subscribetoAllAsync fails with BadRequest"
When using the example for `subscribetoAllAsync` with EventStore `20.10.0` it fails with BadRequest.

Logs:

[code]

[2021-04-20 14:54] sleenen opened #155 "Trying the example with server version 20.10.0.0, but can't connect"
Trying the example to subscribe to stream and enabled logging. It's trying to reconnect all the time and then fails.
Any clue as to what is going on? Trying to get simple test/example setup to run.

This is the code:
[code]

And the resulting output:
[code]

[2021-04-26 08:55] enumag opened #156 "Segmentation fault"
My project has been suffering from occasional segmentation faults on exit for a while. Recently we finally managed to reproduce the issue with debug PHP and the stacktrace hinted that it's not a PHP issue but ext-protobuf issue so I reported it here: https://github.com/protocolbuffers/protobuf/issues/8454

Based on their feedback the problem is that we create a protobuf message in a `__destruct` m

[2021-04-26 09:24] enumag commented on #156
Same problem is here as well:

https://github.com/prooph/event-store/blob/00a54a3860c8598453f1e365c4e34ef789a40043/src/EventStoreSubscription.php#L51-L54

[2021-04-28 01:13] prolic commented on #156
Thanks for reporting. I'm going to look into this, but currently I'm sick, so it may take a few days.

[2021-04-28 01:23] prolic commented on #155
Please post the server logs, maybe this will give more details

[2021-04-28 01:24] prolic commented on #154
I will look into this. I am currently sick, so it may take a couple of days.

[2021-06-22 05:22] enumag commented on #156
ping @prolic

[2021-06-25 05:50] #156 closed

[2021-09-07 12:41] majidalaeinia opened #163 "Incompatibility with Laravel 8"
I want to use this package with `Laravel 8` (and `PHP 7.4`), but it's incompatible.

When I enter this command on the root path of the Laravel project:
[code]

I get this error:
[code]

Any plan to make it compatible with laravel 8?

[2021-09-07 12:49] enumag commented on #163
It's not a problem of this package. The problem is that ramsey/uuid v4 is bugged and cannot be used. See my comment in the relevant issue for details: https://github.com/ramsey/uuid/issues/314#issuecomment-734339547

[2021-09-07 12:49] #163 closed

[2021-09-11 06:42] majidalaeinia opened #164 "Prooph\EventStore\Exception\CannotEstablishConnection Cannot resolve target end point"
I use this `docker-compose.yml` file to run services:

[code]
And here is the output of the `docker ps` command:
[code]
I try to run this code (from the examples):
[code]

But I get this error:
[code]

[2021-09-11 12:16] prolic commented on #164
You are using a single server, hence gossip will not work. Look at the
example on how to connection to a single server.

On Sat, Sep 11, 2021, 02:43 Majid Alaeinia ***@***.***> wrote:

[2021-09-11 13:17] majidalaeinia commented on #164
I am running this code now from the examples, and still get the same error:
[code]

What's wrong with my code and configuration, I have tried it with different configurations and none of them seems working for me.

[2021-09-11 13:24] prolic commented on #164
Try this

[code]

On Sat, Sep 11, 2021, 09:17 Majid Alaeinia ***@***.***> wrote:

[2021-09-11 16:47] majidalaeinia commented on #164
Now I get this error:
[code]

I have to mention that I have forked your repository and used version `^4.2.0` for the `ramsey/uuid` package. Seems this is the reason you do not update that package! I think I have to fork that package too!

[2021-09-11 17:00] prolic commented on #164
Just use Ramsey v3. There is nothing you gain from v4, except a buggy
library.

On Sat, Sep 11, 2021, 12:47 Majid Alaeinia ***@***.***> wrote:

[2021-09-12 04:47] majidalaeinia commented on #164
Ramsey v3 is [not compatible with Laravel 8](https://github.com/prooph/event-store-client/issues/163). I would be happy if those two were compatible and that's why I forked the project to be able to install the package.

[2021-09-12 05:19] enumag commented on #164
Well I told you clearly that ramsey v4 is bugged. The error you see is exactly the problem why we can't use it. We didn't disallow it on a whim. 🙂

[2021-09-12 05:51] majidalaeinia commented on #164
Any plan to replace the `ramsey/uuid` package with another uuid package? This seems the only way left to make this package compatible with the laravel 8.

[2021-09-12 05:56] enumag commented on #164
I'm leaning towards "no" but if you have a specific package in mind, we can have a look.

[2021-09-12 06:04] majidalaeinia commented on #164
Well there are many packages, but I don't know if they are able to be replaced with it.
For example this one: https://laravel.com/docs/8.x/helpers#method-str-uuid

And I have used this one already in projects: https://github.com/binarycabin/laravel-uuid/blob/b78fe0226a767c5ef3ef077ed521c4f4f30a1e10/src/Traits/HasUUID.php#L26

Maybe if you give me a clue on where to start, I will be able to make a

[2021-09-12 06:23] enumag commented on #164
It's not so easy. The thing is there are two uuid formats out there using different byte order. EventStore is internally using the less common one - usually referred to as guid (thank microsoft) while the libraries you mentioned are all using the common uuid byte order. We used ramsey/uuid because it does support the guid format. The only issue is that they accidentally broke this feature in v4. S

[2021-09-12 06:26] #164 closed

[2022-07-05 08:48] tomtimmerman opened #167 "performOnMasterOnly property doesn't seem to work"
Hi

I'am trying to create a persistent subscription to a eventstore cluster version 21.10.5. I've set the ```performOnMasterOnly``` property but it only tries to connect to follower nodes not to the leader node. The ```ClusterDnsEndPointDiscoverer``` always returns the first node it encounters and not the master node.
Below is my client config.

[code]

Thanks

[2022-07-08 17:04] prolic commented on #167
Please paste your connection string

[2022-07-12 07:07] tomtimmerman commented on #167
This is my connection string:
`GossipSeeds=<clusterId>-0.mesdb.eventstore.cloud:2113,<clusterId>-1.mesdb.eventstore.cloud:2113,<clusterId>-2.mesdb.eventstore.cloud:2113;UseSslConnection=true`

Is also tried with the `RequireMaster=true` but have the same problem.

[2022-07-13 04:48] prolic commented on #167
I try to get to it this weekend.

[2022-07-13 04:48] prolic commented on #155
close due to inactivity

[2022-07-13 04:48] #155 closed

[2022-07-13 04:49] #119 closed

[2022-07-13 05:15] enumag commented on #133
@prolic why did you close this? I don't think it's fixed

[2022-07-14 15:42] prolic commented on #133
It's two years now and it seems like ramsey's uuid (at least v4) won't get fixed. In case it changes in an upcoming v5 release, we can re-address this.

[2022-07-14 16:16] enumag commented on #133
Then I think we should try to remove dependency on ramsey/uuid completely. It's widely used so the incompatibility with v4 is a blocker for many users.

[2022-07-14 16:28] enumag commented on #133
Alternatively, would it be possible to use the non-GUID format of UUIDs in the library (hence allowing uuid v4) and resolve the byte order manually when loading / saving the data in eventstore?

[2022-07-15 22:35] prolic commented on #133
I'm not sure, have to look into that.

[2022-07-26 07:57] tomtimmerman commented on #154
Any news on this issue. I'am running into exactly the same problem with EventStore `21.10`. It looks like the problem only occurs when the end of the all stream is reached.

[code]